
/* div:hover{
    background-color: rgb(20, 220, 57);
    border: inset rgb(20, 220, 57) 10px;
    border-radius: 0;
} */

div{
    width: 200px;
    height: 200px;
    background-color: orange;
    border-radius: 50%;
    animation: circles 10s;
    transform: translateX(0%);
}

@keyframes circles{
    0%{
        background-color: orange;
    }
    25%{
        background-color: green;
    }
    50%{
        background-color: red;
    }
    75%{
        background-color: yellow;
    }
    100%{
        background-color: purple;
        transform: translateX(740px);
    }
}